{% load static wagtailcore_tags wagtailuserbar %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}HAGAKUREプログラミング塾|Scroll{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
</head>
<body>

  <header class="header">
    <div class="header_inner">

<!--      <img src="{% static 'image/base/logo.jpg' %}" alt="ロゴ" class="logo">-->

<!--      <div class="search-bar">-->
<!--        <input type="text" class="search-input">-->
<!--        <img src="{% static 'image/base/mag_glass.png' %}" alt="検索" class="search-icon">-->
<!--      </div>-->

      <div class="header-buttons">
        <a href="http://localhost:8000/accounts/google/login/" class="login-button">
          <span class="button-text">ログイン</span>
          <img src="{% static 'image/base/login_icon.png' %}" alt="ログイン">
        </a>
      </div>

      <div class="header_wave">
        {% for _ in "12345678901234" %}
          <div class="wave-box"></div>
        {% endfor %}
      </div>

    </div>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer">
    <div class="footer_inner">

      <div class="footer_wave">
        {% for _ in "12345678901234" %}
          <div class="wave-box"></div>
        {% endfor %}
      </div>

      <div class="footer_links">
        <a href="{% url 'blog_guidelines' %}" class="footer_link">ガイドライン</a>
      </div>

      <div class="footer_copyright">
        <p>©HAGAKUREPROGRAMMING塾 SINCE2025</p>
      </div>

    </div>
  </footer>

</body>
</html>
