{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrollログイン</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="login-container">
    <img src="{% static 'image/blog_login/header_logo.png' %}" alt="ログイン画面ロゴ" class="logo">
    <img src="{% static 'image/blog_login/login_leaf.png' %}" alt="ログイン画面＜葉＞" class="logo">
    <a href="{% provider_login_url 'google' %}" class="google-login">
      <img src="{% static 'image/blog_login/login_g.png' %}" alt="ログイン画面＜G＞" class="google-icon">
      Googleでログイン
    </a>

  </div>
</body>
</html>
